export(entrez_email)
export(entrez_tool)
export(fetch_in_chunks)
export(geocode_address)
export(geocode_addresses)
export(get_article_location_data)
export(get_articles_by_terms)
export(get_mesh_headings)
export(keyword_assoc_table)
export(mesh_assoc_table)
export(mesh_heading_frequency)
export(pubmed_fetch)
export(record_counts_by_year)
export(write_JSON_file)
export(write_record_list)
import(RCurl)
import(RJSONIO)
import(XML)
import(rentrez)
importFrom(rentrez,entrez_email)
