export(entrez_email)
export(entrez_tool)
export(fetch_in_chunks)
export(geocode_address)
export(geocode_addresses)
export(get_article_location_data)
export(get_articles_by_terms)
export(pubmed_fetch)
import(RCurl)
import(XML)
